<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>at.ac.tuwien.big.we15.lab2.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <servlet-class>at.ac.tuwien.big.we15.lab2.servlet.LoadCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>at.ac.tuwien.big.we15.lab2.servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCategoryServlet</servlet-name>
        <servlet-class>at.ac.tuwien.big.we15.lab2.servlet.SubmitCategoryServlet</servlet-class>
    </servlet><servlet>
        <servlet-name>WinnerServlet</servlet-name>
        <servlet-class>at.ac.tuwien.big.we15.lab2.servlet.WinnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryServlet</servlet-name>
        <url-pattern>/LoadCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCategoryServlet</servlet-name>
        <url-pattern>/SubmitCategoryServlet</url-pattern>
    </servlet-mapping><servlet-mapping>
        <servlet-name>WinnerServlet</servlet-name>
        <url-pattern>/WinnerServlet</url-pattern>
    </servlet-mapping>
</web-app>